<!DOCTYPE html>
<html>
<head>
    <h1> </h1>
	<title>Doubt Eats</title>

</head>
<body>

	<style>
		img{width: 42%}
	</style>

    <h1> </h1>
    <body bgcolor="red">
	<form method = "post">
        <h1><center> Dont know what to eat?</center></h1>
        <p> NAME: </p>
	<input type="text" name="username">

	<p> LOCATION: </p>
	<input type="text" name="userlocation">
    <input type="submit" value="Submit">

    </form>
        <center>  <img src= "/images/logo.png"/> </center>
</body>
</html>
