<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Choose your flavors</title>
  </head>
  <h1>Pick from the following options to find what food recommedation would be best for you!</h1>

  <body>
    <form method="post">
      <p>Select the flavors that you are craving</p>
      <input type = "checkbox" name= "flavors" value= "Sweet"/> sweet <br/>
      <input type = "checkbox" name= "flavors" value= "Bitter"/> bitter <br/>
      <input type = "checkbox" name= "flavors" value= "Salty"/> salty <br/>
      <input type = "checkbox" name= "flavors" value= "Sour"/> sour <br>
      <input type = "checkbox" name= "flavors" value= "Spicy"/>
      <input type = "submit" value = "Submit">

    </form>

    <h2> Select all that apply.</h2>


  </body>
</html>
